# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
MemoryCaptures/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.tmp
.vs/
.idea/
.DS_Store
crashlytics-build.properties
